# Core requirements for the project
streamlit
fastapi
uvicorn
pandas
numpy
scikit-learn
matplotlib
plotly
yfinance
pydantic
pydantic-settings
prophet
pmdarima
torch
statsmodels
holidays
joblib
requests
